<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예시</title>
    <link rel="stylesheet" href="css/exam.css" />
</head>
<style>

</style>
<header>
    <h1>秋收 勞補(추수 로보)</h1>
    <p>로봇팔이 망에 걸려있는 과일을 수확합니다.</p>
</header>
<body>
    

        <div class="WCDB">
            <div class="webcam">
                <h1>usb 카메라</h1>
                <img src="image/home-g575054a38_1920.jpg" alt="임시 이미지">
            </div>
            <div class="DBoutput">
                <table>
                    <tr>
                        <th>날짜</th>
                        <th>과일 종류</th>
                        <th>수량</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
        </div>
    

        <div class="ECMU">
            <div class="esp32cam">
                <h1>esp32 cam</h1>
                <img src="image/mountain-g98f3ac1ab_1920.jpg" alt="임시 이미지">
            </div>
            <section>
                <form class="menu">
                    과일종류<select name="fruit">
                        <option value="apple_green">초록사과</option>
                        <option value="apple_red">빨간사과</option>
                        <option value="orange">귤</option>
                        <option value="pepper_red">빨간고추</option>
                        <option value="pepper_green">초록고추</option>
                    </select>
            
                    숫자:<input type="text" placeholder=".. 개">
                </form>
                <div class="harvest-button">
                    <form>
                        <input type="submit" value="수확하기">
                    </form>
                </div>
            </section>
        </div>




</body>
</html>